@font-face {
    font-family: KristallNowPro;
    src: url("../public/KristallNowPro-Bold_1.otf") format("opentype");
}

body {
    font-family: KristallNowPro;
    background:#eee;
    width: 100%;
    margin: 0;
}

#banner {
    width: 100%;
}
.container {
    
}

#navigation{
    list-style: none;
}

#navigation li {
    padding-left : 0;
    display : inline;
    margin-left : 10%;
}

