:root {
  --color-blue-100: rgb(25, 43, 91);
  --color-white-100: rgb(255, 255, 255);
  --scale-anime-start: scale(1.0);
  --scale-anime-end: scale(1.1);
  --max-width-offset: 1024px;
  --width-percent-100: 100%;
  --scale-anime-transition: 300ms transform cubic-bezier(0.075, 0.82, 0.165, 1);
}

@font-face {
  font-family: KristallNowPro;
  src: url("../../assets/fonts/KristallNowPro-Bold_1.otf") format("opentype");
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  width: var(--width-percent-100);
  height: var(--width-percent-100);
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-blue-100);
  font-family: KristallNowPro;
  color: var(--color-white-100);
}

label {
  float: left;
  text-align: right;
  margin-right: 15px;
  width: 100px;
}

ul {
  padding: 0;
}

.app {
  width: var(--width-percent-100);
  height: var(--width-percent-100);
  position: relative;
  overflow-x: hidden;
  text-align: center;
  scroll-behavior: smooth;
}

.header {
  width: var(--width-percent-100);
  max-width: var(--max-width-offset);
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.banner {
  width: var(--width-percent-100);
  height: auto;
  position: relative;
}

.nav {
  font-size: 1.5em;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--color-white-100);
  width: var(--width-percent-100);
  height: 60px;
  position: relative;
}

.nav__list {
  width: var(--width-percent-100);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  overflow-x: auto;
  list-style: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.nav__list::-webkit-scrollbar {
  display: none;
}

.nav__list__item {
  margin-right: 15px;
}

.nav__list__item__link {
  display: block;
  color: var(--color-white-100);
  text-decoration: none;
}

.main {
  margin: 0 auto;
  max-width: var(--max-width-offset);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin: 20px 0;
  font-size: 30px;
}

.paragraph {
  padding: 0 20px;
  font-size: 18px;
  text-align: left;
}

.box {
  width: var(--width-percent-100);
  height: 0;
  margin: 50px 0 50px 0;
  padding: 0 0 56.25% 0;
  position: relative;
}

.video {
  top: 0;
  left: 0;
  width: var(--width-percent-100);
  height: var(--width-percent-100);
  position: absolute;
}

.form-contact {
  margin: 20px 0 0 0;
  max-width: 380px;
  position: relative;
}

.form-contact__container {
  width: var(--width-percent-100);
  display: inline-block;
  position: relative;
}

.form-contact__row {
  margin: 0 0 20px 0;
  display: grid;
  align-items: flex-start;
  justify-content: left;
  -ms-grid-column: 130px 1fr 1fr 1fr;
  grid-template-columns: 130px repeat(3, fr);
}

.form-contact__label {
  width: 120px;
  min-width: 100px;
  position: static;
  grid-column: 1 / 2;
  text-align: right;
}

.form-contact__field {
  grid-column: 2 / 5;
}

.footer {
  margin: 40px auto;
}

.social-media {
  width: var(--width-percent-100);
  max-width: 500px;
  display: flex;
  justify-content: center;
  font-size: 1.5em;
}

.social-media__list {
  width: var(--width-percent-100);
  max-width: 500px;
  margin: 0 auto 40px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

.social-media__list__item__link {
  display: block;
  color: var(--color-white-100);
  text-decoration: none;
}

.scale-anime {
  -webkit-transform: var(--scale-anime-start);
  -ms-transform: var(--scale-anime-start);
  transform: var(--scale-anime-start);
  -webkit-transition: var(--scale-anime-transition);
  -o-transition: var(--scale-anime-transition);
  transition: var(--scale-anime-transition);
}

.scale-anime:hover {
  -webkit-transform: var(--scale-anime-end);
  -ms-transform: var(--scale-anime-end);
  transform: var(--scale-anime-end);
}
